.swiper-button-prev:after,
.swiper-button-next:after {
  position: absolute;
  top: 43%;
  text-align: center;
  margin: -16px 0px 0px;
  padding: 0px;
  width: 32px;
  height: 32px;
  background: none;
  line-height: 28px;
  border: 2px solid #eeeeee;
  color: #dddddd;
  font-size: 15px;
  border-radius: 50%;
}

.swiper-button-prev:hover {
  color: #09a223;
  border-color: #ffffff;;
}