.swiper-pagination {
    display: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  position: absolute;
  top: 50%;
  margin: -16px 0px 0px;
  padding: 0px;
  width: 32px;
  text-align: center;
  height: 32px;
  background: none;
  line-height: 28px;
  border: 2px solid #eeeeee;
  color: #dddddd;
  font-size: 15px;
  border-radius: 50%;
}




 
    
 