.featured__card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  padding: 1.5rem;
  /* border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem; */
  /* -o-border-radius: 1rem; */
}

.featured__card:hover .featured__thumbnail--img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.featured__thumbnail--link {
  overflow: hidden;
  border-radius: 1rem;
}

@media only screen and (max-width: 575px) {
  .featured__thumbnail--link {
    display: block;
  }
}

.featured__thumbnail--img {
  border-radius: 1rem;
}

@media only screen and (max-width: 575px) {
  .featured__thumbnail--img {
    width: 100%;
  }
}

.featured__content {
  padding: 0.8rem 0.2rem 0;
}

@media only screen and (min-width: 1600px) {
  .featured__content {
    padding: 0.8rem 0.8rem 0;
  }
}

@media only screen and (max-width: 1599px) {
  .featured__card--title {
    font-size: 1.8rem;
  }
}

.featured__badge {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  gap: 1.2rem;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured__badge {
    flex-direction: column;
  }
}

.featured__badge.style2 {
  flex-direction: column;
}

.badge__field {
  font-size: 1.4rem;
  height: 2.7rem;
  line-height: 2.7rem;
  padding: 0 1.5rem;
  font-weight: 600;
  background: var(--color-hover);
  color: var(--color-white);
  display: inline-block;
  border-radius: 2rem;
  cursor: pointer;
}

.badge__field.style2 {
  background: var(--color-background);
  color: var(--color-foreground);
}

.featured__action {
  position: absolute;
  top: 3rem;
  right: 0;
}

.featured__action--btn {
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-hover);
  background: var(--color-background);
}

.featured__action--btn:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.featured__action--items:last-child .featured__action--btn {
  border-bottom: 0;
}

.featured__content--top {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured__content--top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
  }
}

.featured__card--price {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--color-hover);
}

@media only screen and (min-width: 1600px) {
  .featured__card--price {
    font-size: 2.2rem;
  }
}

.featured__content--desc {
  font-size: 1.4rem;
  color: var(--color-foreground-sub);
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .featured__content--desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
  }
}

.featured__content--desc svg {
  margin-right: 0.5rem;
}

.featured__info--text {
  display: block;
  color: var(--color-foreground-sub);
  margin-top: 0.7rem;
}

@media only screen and (max-width: 1500px) {
  .featured__info--text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured__info--text {
    font-size: 1.4rem;
  }
}

.featured__info--items {
  position: relative;
  margin-right: 1.2rem;
  padding-right: 1.2rem;
}

@media only screen and (min-width: 480px) {
  .featured__info--items {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured__info--items {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
  }
}

.featured__info--items:last-child {
  margin-right: 0;
  padding-right: 0;
}

.featured__info--items:last-child::before {
  display: none;
}

.featured__info--items::before {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 3.5rem;
  background: var(--color-border);
  right: 0;
  top: 50%;
  transform: translatey(-50%);
}

.featured__info--icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  line-height: 2.2rem;
}

@media only screen and (max-width: 1500px) {
  .featured__info--icon {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured__info--icon {
    font-size: 1.3rem;
    gap: 0.5rem;
  }
}

.featured__content--footer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-border);
}

.featured__author {
  gap: 1rem;
}

@media only screen and (min-width: 1600px) {
  .featured__author {
    gap: 1.5rem;
  }
}

.featured__card:hover .featured__author--img::before {
  background: var(--color-hover);
}

.featured__author--img::before {
  position: absolute;
  content: "";
  width: 4.4rem;
  height: 5.6rem;
  background: var(--color-background-3);
  top: -3px;
  left: -2px;
  border-radius: 2.2rem 2.2rem 0 0;
  transition: 0.3s;
}

.featured__author--img img {
  position: relative;
  z-index: 9;
}

.featured__author--name {
  font-weight: 700;
}

@media only screen and (max-width: 1599px) {
  .featured__author--name {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .featured__author--name {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.featured__content--share {
  gap: 1.2rem;
}

.featured__share--btn {
  width: 3.5rem;
  height: 3.5rem;
  background: var(--color-background-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground);
}

.featured__share--btn:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.share__dropdown--menu {
  width: 14rem;
  min-width: 14rem;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  padding: 1.5rem;
  border-radius: 1rem;
}

.social__share--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.social__share--link span {
  font-size: 1.5rem;
  font-weight: 600;
}

.social__share--list {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.social__share--list:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.featured__navigation {
  position: absolute;
  top: -64px;
  right: 4px;
  width: 95px;
}

@media only screen and (max-width: 575px) {
  .featured__navigation {
    top: -52px;
  }
}

@media only screen and (max-width: 479px) {
  .featured__navigation {
    display: none;
  }
}

.featured__navigation .swiper__nav--btn {
  position: inherit;
  opacity: 1;
  visibility: visible;
}

.featured__info--items button {
  font-size: 13px;
  background-color: #fa4a4a;
  /* Blue background */
  color: white;
  /* White text */
  padding: 10px 8px;
  /* Padding for the button */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  /* Font size */
  transition: background-color 0.3s ease;
  /* Smooth hover transition */
}

.featured__info--items button:hover {
  background-color: #fa4a4a;
  /* Darker blue on hover */
}



.widget__featured--properties__content--top {
  margin-bottom: 1.5rem;
}

.widget__featured--properties__author {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}

.widget__featured--properties__author img {
  border-radius: 50%;
}

.widget__featured--properties__share {
  gap: 1.5rem;
}

.widget__featured--properties__share--btn {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background);
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.1);
}

.widget__featured--properties__share--btn:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.widget__featured--properties__thumbnail::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.63));
  transition: 0.3s;
}

.widget__featured--properties__desc {
  font-size: 1.5rem;
  color: var(--color-foreground-sub);
  margin-bottom: 1rem;
}

.widget__featured--properties__desc svg {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 400px) {
  .widget__featured--properties__desc {
    font-size: 1.6rem;
  }
}

.widget__featured--properties__title {
  margin-bottom: 1.5rem;
}

.widget__featured--propertie__price {
  gap: 2rem;
}

.new__price {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-hover);
}

@media only screen and (min-width: 480px) {
  .new__price {
    font-size: 2rem;
  }
}

.old__price {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--color-foreground-sub);
  text-decoration: line-through;
}

@media only screen and (min-width: 480px) {
  .old__price {
    font-size: 1.8rem;
  }
}

.widget__featured--properties__content {
  padding: 0 1.5rem;
  margin-top: -22px;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .listing__details--wrapper {
    padding-right: 5rem;
  }
}

.listing__details--action {
  gap: 1.2rem;
}

.listing__details--action__btn {
  width: 3.5rem;
  height: 3.5rem;
  background: var(--color-background-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground);
  border-radius: 0.5rem;
}

.listing__details--action__btn:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.listing__details--meta__wrapper {
  gap: 2rem;
}

@media only screen and (max-width: 479px) {
  .listing__details--meta__wrapper {
    flex-wrap: wrap;
  }
}

.listing__details--wishlist__btn {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-hover);
  border-radius: 0.5rem;
}

.listing__details--wishlist__btn:hover {
  border-color: var(--color-hover);
}

.listing__details--badge {
  font-size: 1.5rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  background: var(--color-hover);
  color: var(--color-white);
  padding: 0 1.5rem;
  border-radius: 0.5rem;
}

.listing__details--badge.two {
  background: var(--color-background);
  color: var(--color-foreground);
  box-shadow: -1px 4px 10px 0 rgba(0, 0, 0, 0.06);
}

.listing__details--meta__text {
  color: var(--color-foreground-sub);
  font-weight: 600;
  line-height: 2.4rem;
}

.listing__details--meta__icon {
  color: var(--color-hover);
  margin-right: 0.5rem;
}

.listing__details--title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

@media only screen and (min-width: 400px) {
  .listing__details--title {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 480px) {
  .listing__details--title {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .listing__details--title {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .listing__details--title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing__details--title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .listing__details--title {
    margin-bottom: 2rem;
  }
}

.listing__details--price {
  gap: 1rem;
}

.listing__details--price__new {
  color: var(--color-hover);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
}

@media only screen and (min-width: 768px) {
  .listing__details--price__new {
    font-size: 2.2rem;
  }
}

.listing__details--price__old {
  color: var(--color-foreground-sub);
  text-decoration: line-through;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

@media only screen and (min-width: 768px) {
  .listing__details--price__old {
    font-size: 1.8rem;
  }
}

.listing__details--price__id {
  gap: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .listing__details--price__id {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .listing__details--price__id {
    margin-bottom: 3rem;
  }
}

.listing__details--property__id {
  font-weight: 600;
}

.listing__details--location__text {
  font-weight: 600;
  color: var(--color-foreground-sub);
  line-height: 2.5rem;
}

.listing__details--main__content {
  padding: 6rem 0 0;
}

@media only screen and (min-width: 768px) {
  .listing__details--main__content {
    padding: 7rem 0 0 2rem;
  }
}

/* @media only screen and (min-width: 992px) {
  .listing__details--main__content {
    padding: 8rem 0 0 2rem;
  }
} */

@media only screen and (min-width: 1200px) {
  .listing__details--main__content {
    padding: 8rem 3rem 0;
  }
}

@media only screen and (max-width: 991px) {
  .listing__details--content__top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2rem;
  }
}

.listing__details--content__title {
  font-size: 2rem;
  line-height: 2.2rem;
  border-left: 2px solid var(--color-hover);
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .listing__details--content__title {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}

@media only screen and (min-width: 1366px) {
  .listing__details--content__title {
    font-size: 2.4rem;
  }
}

.listing__details--content__desc {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  color: var(--color-foreground-sub);
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .listing__details--content__desc {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 3rem;
  }
}

.listing__d--info {
  margin-bottom: 0;
}

.listing__d--info .apartment__info--wrapper {
  padding-bottom: 0;
}

@media only screen and (max-width: 479px) {
  .listing__d--info .apartment__info--wrapper {
    padding-bottom: 2rem;
  }
}

.listing__d--info .apartment__info--list {
  padding-bottom: 3rem;
}

@media only screen and (max-width: 479px) {
  .listing__d--info .apartment__info--list {
    padding-bottom: 0;
  }
}

.listing__d--info .apartment__info--list::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1rem;
  background: var(--color-hover);
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

@media only screen and (max-width: 479px) {
  .listing__d--info .apartment__info--list::after {
    display: none;
  }
}

.listing__d--info .apartment__info--list:hover::after {
  width: 100%;
}

.properties__details--info__wrapper {
  gap: 3rem;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .properties__details--info__wrapper {
    gap: 3.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .properties__details--info__wrapper {
    gap: 4.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .properties__details--info__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

.properties__details--info__list {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

@media only screen and (min-width: 576px) {
  .properties__details--info__list {
    width: 46%;
  }
}

.properties__details--info__title {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.properties__details--info__subtitle {
  line-height: 2.5rem;
  font-weight: 500;
  color: var(--color-foreground-sub);
}

.properties__details--info__list {
  padding: 0 1rem 1.2rem;
}

.listing__details--content__title.mb-40 {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 400px) {
  .listing__details--content__title.mb-40 {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .listing__details--content__title.mb-40 {
    margin-bottom: 4rem;
  }
}

.properties__amenities--list {
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 576px) {
  .properties__amenities--list {
    margin-bottom: 2.5rem;
  }
}

.properties__amenities--list:last-child {
  margin-bottom: 0;
}

.properties__amenities--mark__icon {
  color: var(--color-hover);
}

.properties__amenities--text {
  font-weight: 500;
  color: var(--color-foreground-sub);
  line-height: 2rem;
}

.properties__amenities--wrapper {
  gap: 2rem;
}

@media only screen and (min-width: 400px) {
  .properties__amenities--wrapper {
    gap: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .properties__amenities--wrapper {
    gap: 7rem;
  }
}

@media only screen and (max-width: 575px) {
  .properties__amenities--wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 399px) {
  .properties__amenities--wrapper {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .properties__floor--plans__info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media only screen and (max-width: 399px) {
  .properties__floor--plans__info {
    gap: 1rem;
  }
}

.properties__floor--plans__info li {
  padding: 1rem 1.5rem;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .properties__floor--plans__info li {
    margin-bottom: 2.5rem;
  }
}

.properties__floor--plans__info li:last-child {
  margin-bottom: 0;
}

.properties__floor--plans__info li img {
  display: inline-block;
}

.properties__floor--plans__info li:hover {
  background: var(--color-background-3);
}

.properties__floor--plans__info li span {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  margin-left: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  .properties__floor--plans__info li span {
    font-size: 1.7rem;
    margin-left: 1.5rem;
  }
}

.floor__plans--tab__btn {
  gap: 1.8rem;
  margin-bottom: 3rem;
}

.floor__plans--tab__btn--field {
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  width: 10rem;
  text-align: center;
  background: var(--color-background);
  color: var(--color-foreground);
  box-shadow: -1px 4px 10px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  border-radius: 0.5rem;
}

.floor__plans--tab__btn--field:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.floor__plans--tab__btn--field.active {
  background: var(--color-hover);
  color: var(--color-white);
}

.properties__floor--plans {
  gap: 3rem;
}

@media only screen and (min-width: 1200px) {
  .properties__floor--plans {
    gap: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .properties__floor--plans {
    flex-direction: column;
  }
}

.properties__floor--plans__content {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .properties__floor--plans__content {
    width: 37%;
  }
}

@media only screen and (min-width: 1200px) {
  .properties__floor--plans__content {
    width: 40%;
  }
}

.properties__floor--plans__gallery {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .properties__floor--plans__gallery {
    width: 63%;
  }
}

@media only screen and (min-width: 1200px) {
  .properties__floor--plans__gallery {
    width: 60%;
  }
}

.listing__details--content__step {
  width:111%;
  max-width: 950px;
  margin: 0 auto;
  padding: 17px 44px;
  border: 1px solid #0000001a;
  border-radius: 1rem;
  box-shadow: 0 0 12px #0000004d;
  gap: 3rem;

}

@media only screen and (max-width: 991px) {
  .listing__details--content__step.mb-80 {
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 767px) {
  .listing__details--content__step.mb-80 {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 767px) {
  .listing__details--location__header {
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
  }
}

.listing__details--location__header--left {
  width: 100%;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  .listing__details--location__header--left {
    width: 50%;
    padding-right: 3rem;
  }
}

.location__google--maps {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .location__google--maps {
    width: 50%;
  }
}

.location__google--maps summary {
  outline: none;
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  background: var(--color-hover);
  color: var(--color-white);
  text-align: center;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.location__google--maps summary:hover {
  background: var(--color-foreground);
}

.location__google--maps summary::marker {
  display: none;
}

.location__google--maps summary::-webkit-details-marker {
  display: none;
}

.location__google--maps iframe {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
}

.location__google--maps__info {
  gap: 3rem;
}

@media only screen and (max-width: 479px) {
  .location__google--maps__info {
    flex-direction: column;
    gap: 2rem;
  }
}

.location__google--maps__info--step {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .location__google--maps__info--step {
    width: 50%;
  }
}

.location__google--maps__info--title {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  min-width: 10rem;
}

@media only screen and (min-width: 768px) {
  .location__google--maps__info--title {
    font-size: 1.8rem;
    line-height: 2rem;
    min-width: 13rem;
  }
}

.location__google--maps__info--list {
  gap: 2rem;
  margin-bottom: 2rem;
}

.location__google--maps__info--list:last-child {
  margin-bottom: 0;
}

.location__google--maps__info--subtitle {
  line-height: 2.5rem;
  font-weight: 500;
  color: var(--color-foreground-sub);
}

.icon-blue {
  color: #fa4a4a;
  font-size: 20px !important;
}

.listing__small--hero__slider {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  max-width: 35rem;
  padding: 0 3rem;
}

@media only screen and (min-width: 480px) {
  .listing__small--hero__slider {
    max-width: 40rem;
  }
}

@media only screen and (min-width: 768px) {
  .listing__small--hero__slider {
    max-width: 33rem;
  }
}

@media only screen and (min-width: 992px) {
  .listing__small--hero__slider {
    bottom: 4rem;
    right: 5rem;
    max-width: 38rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing__small--hero__slider {
    bottom: -12rem;
    right: 38rem;  }
}

.listing__small--hero__slider .swiper__nav--btn {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 767px) {
  .listing__small--hero__slider {
    position: inherit;
    left: auto;
    right: auto;
    margin: 0 auto;
    bottom: inherit;
    margin-top: 3rem;
  }
}

.listing__hero--slider__media {
  -o-object-fit: cover;
  object-fit: cover;
  height: 25rem;
}

@media only screen and (min-width: 480px) {
  .listing__hero--slider__media {
    height: 30rem;
  }
}

@media only screen and (min-width: 576px) {
  .listing__hero--slider__media {
    height: 32rem;
  }
}

@media only screen and (min-width: 768px) {
  .listing__hero--slider__media {
    height: 40rem;
  }
}

@media only screen and (min-width: 992px) {
  .listing__hero--slider__media {
    height: 45rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing__hero--slider__media {
    height: 53rem;
  }
}

@media only screen and (min-width: 1600px) {
  .listing__hero--slider__media {
    height: 67rem;
  }
}

.listing__hero--slider__container {
  position: absolute;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .listing__hero--slider__container {
    bottom: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .listing__hero--slider__container {
    top: 50%;
    transform: translateY(-50%);
  }
}

.listing__small--hero__slider--items {
  background: var(--color-background);
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .listing__small--hero__slider--items {
    padding: 0.5rem;
  }
}

.listing__hero--slider__content {
  background: rgba(0, 0, 0, 0.7);
  max-width: 33rem;
  padding: 2rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 992px) {
  .listing__hero--slider__content {
    max-width: 38rem;
    padding: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .listing__hero--slider__content {
    max-width: 47rem;
    padding: 4rem;
  }
}

.listing__hero--slider__title {
  color: var(--color-white);
}

.listing__hero--slider__price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-hover);
}

.listing__hero--slider__content--top {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 992px) {
  .listing__hero--slider__content--top {
    margin-bottom: 3rem;
  }
}

/* .listing__hero--slider__text {
  margin-bottom: 0;
  color: var(--color-white);
  opacity: 0.8;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  .listing__hero--slider__text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 479px) {
  .listing__hero--slider__text {
    font-size: 1.4rem;
  }
} */

#FAQ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* .accordian {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
} */

.item {
  background-color: #e7ecf5;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.3s ease;
}

.item.selected {
  background-color: #ffffff;
}

.item::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fa4a4a;
}

.FAQ-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: #131414;
}

.faqQuestion {
  font-size: 15px;
  color: #131414;
  text-align: start;
}

.FAQ-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #131414;
}

.FAQ-content.show {
  max-height: 9999px;
  transition: max-height 0.8s cubic-bezier(1, 0, 1, 0);
}

.expandToggle {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.FAQ-ShowMore {
  text-align: center;
  margin-top: 10px;
}

.FAQ-ShowMore button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #fa4a4a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.FAQ-ShowMore button:hover {
  background-color: #fa4a4a;
  color: black;
  font-weight: 700;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .accordian {
    max-width: 90%;
  }

  .item {
    padding: 12px 16px;
  }

  .FAQ-title {
    font-size: 16px;
  }

  .expandToggle {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .accordian {
    padding: 10px;
  }

  .item {
    padding: 10px 14px;
  }

  .FAQ-title {
    font-size: 14px;
  }

  .expandToggle {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .accordian {
    padding: 5px;
  }

  .item {
    padding: 8px 12px;
  }

  .FAQ-title {
    font-size: 12px;
  }

  .expandToggle {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}