.footer-top-area {
  padding-top: 41px;
  padding-bottom: 20px;
}

.section-bg-2,
.section-bg-6,
.section-bg-7 {
  background-color: black;
}

.footer-widget {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .footer-about-widget {
    padding-right: 35px;
  }
}

.footer-logo {
  position: relative;
  top: -10px;
}

.site-logo {
  min-width: 185px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.footer-address ul {
  margin: 0;
  padding: 0;
}

.footer-address ul li {
  list-style: none;
  color: white;
  display: block;
  margin-top: 8px;
}

.footer-address ul li .footer-address-icon {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px !important;
}

.ltn__social-media ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px 0 0;
}

.footer-widget {
  margin-bottom: 60px;
}

.footer-widget .footer-title {
  font-size: 22px;
  margin-bottom: 25px;
  color: white;
}

.footer-menu ul {
  color: white;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 15px;
  position: relative;
}

.footer-menu ul li a {
  position: relative;
}

.footer-menu ul li a:hover::before {
  position: absolute;
  content: "//";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: inherit;
  opacity: 1;
  visibility: visible;
  margin-left: -20px;
  color: #fa4a4a;
}

.footer-menu ul li a:hover {
  color: #fa4a4a;
}

.footer-newsletter .btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
}

.btn-wrapper {
  display: block;
  margin-top: 30px;
}

.footer-newsletter .btn-wrapper .btn {
  padding: 0 18px;
  height: 100%;
}

.footer__bottom--inner {
  border-top: 2px solid white;
}