.approachimage {
    border-radius: 10px;
    margin-bottom: 42px;
}

.approachimage::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #fa4a4a;
    transform: skew(20deg);
    z-index: 1;
}

.about-thumb {
    width: 466px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px  rgba(181, 41, 42, 1);
    
}
.bi {
    font-size: 3.2rem;
}